.aui-page-panel .issues-calendar-project-info {
    display: none;
}

form.aui.calendar-navigation-wrapper {
    margin: 0;
    padding: 0;
}

.calendar-navigation {
    margin-bottom: 10px;
}

.calendar-navigation .aui-item + .aui-item {
    text-align: right;
}

div.issues {
    text-align: left;
    padding: 1px;
    margin-bottom: 4px;
}

a.issue {
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

div.versions {
    padding: 1px;
}

.version {
    position: relative;
    display: block;
    margin-top: 3px;
    font-size: 12px;
}

.small-mid-margin {
    margin-bottom: 7px;
}

.issues-calendar-title {
    text-align: center;
}

.issues-calendar-previous-toolbar,
.issues-calendar-next-toolbar
{
    width: auto;
    clear: none;
    margin-bottom: 8px;
    padding-top: 0;
}

.issues-calendar-previous-toolbar {
    float: left;
}

.issues-calendar-next-toolbar {
    float: right;
}

.issues-calendar-previous-toolbar .toolbar-group {
    margin-left: 0;
}

.issues-calendar-next-toolbar .toolbar-group {
    margin-right: 0;
}

.issues-calendar-previous {
    padding-left: 3px;
}

.issues-calendar-next {
    padding-right: 3px;
}

/*Add space between project tab heading and calendar*/
#project-tab > .issues-calendar-container {
    margin-top: 16px;
}

a.issue span.dayPopup,
a.version span.dayPopup {
    display: none;
}


a.issue:hover span.dayPopup,
a.version:hover span.dayPopup {
    display: block;
    position: absolute;
    text-align: left;
    text-decoration: none;
    background: white;
    color: black;
    margin: 1em 0 0 2px;
}

.dayOfWeek-1,
.dayOfWeek-2,
.dayOfWeek-3,
.dayOfWeek-4,
.dayOfWeek-5,
.dayOfWeek-6,
.dayOfWeek-7,
.otherMonth {
    padding: 4px;
}

.dayOfWeek-4 a.issue:hover span.dayPopup, .dayOfWeek-4 a.version:hover span.dayPopup {
    margin: 1em 0 0 -9em;
}

.dayOfWeek-5 a.issue:hover span.dayPopup, .dayOfWeek-6 a.issue:hover span.dayPopup, .dayOfWeek-7 a.issue:hover span.dayPopup,
.dayOfWeek-5 a.version:hover span.dayPopup, .dayOfWeek-6 a.version:hover span.dayPopup, .dayOfWeek-7 a.version:hover span.dayPopup {
    margin: 1em 0 0 -19em;
}

div.issues-calendar table {
    border-collapse: collapse;
}

div.issues-calendar table tr.rowNormal td {
    border: 1px solid #cccccc;
}

div.issues-calendar table tr.rowNormal td.today {
    background-color: #ffffdd;
}

.weekDay {
    background-color: #ffffff;
}

.weekendDay {
    background-color: #e0f0ff;
}

.otherMonth {
    background: #e9e9e9;
}

.date {
    font-size: 12px;
    text-align: right;
    float: right;
    margin-left: 5px;
}

.dayOfWeekTitle {
    background: #999;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
}

.icalLink {
    float: right;
}

.issuesHeader {
    font-size: 12px;
    color: #666;
}

.issue .title, .version .title {
    display: block;
    background: #f0f0f0;
    padding: 8px;
}

.issueKey {
    color: #036
}

.issue .description, .version .description {
    padding: 8px;
    display: block;
}

.versionsTitle {
    font-size: 12px;
    color: #666;
}

.priority {
    margin: 0 2px 2px 0;
    padding: 0;
    border:0;
    width: 10px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.priority-none {
    background-color: #333333; /* pdl */
}

.priority-1,
.priority-2,
.priority-3,
.priority-4,
.priority-5,
.priority-6 {
    background-color: red;
}

a.moreIssues {
    font-size: 80%;
}

.displayVersionsOn {
    color: #14892c;
    font-weight: bold;
}

.displayVersionsOff {
    color: #d04437;
    font-weight: bold;
}

.projectTab {
    padding: 10px;
}

.tableLayout {
    table-layout: fixed;
}

.calendar-footer {
    padding-top: 8px;
}

.project-config-icon {
    background: transparent url('icon16-sprite.png') no-repeat 0 0;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 16px;
}

.project-config-icon-version-archived {
    background-position: 0 -32px;
}

.project-config-icon-version-released.project-config-icon-version-archived {
    background-position: 0 -48px;
}

.project-config-icon-version-released {
    background-position: 0 -16px;
}

.version .project-config-icon {
    margin-right: 5px;
}

.aui-inline-dialog {
    display: inline-block;
}

.smaller-font {
    font-size: 12px;
}
